body{

font-family:Poppins;
margin:0;
background:#0f0f0f;
color:white;
text-align:center;

}

nav{

display:flex;
justify-content:space-between;
padding:20px 10%;
background:#111;

}

nav ul{

display:flex;
gap:20px;
list-style:none;

}

nav a{

color:white;
text-decoration:none;

}

.hero{

padding:80px 20px;

}

.profile{

width:180px;
border-radius:10px;

}

.btn{

display:inline-block;
margin-top:20px;
padding:10px 20px;
background:#4f46e5;
color:white;
border-radius:6px;
text-decoration:none;

}

section{

padding:60px 20px;

}

.project{

background:#1a1a1a;
margin:20px auto;
padding:20px;
width:60%;
border-radius:10px;

}

.project a{

color:#4f46e5;

}

ul{

list-style:none;

}

footer{

background:#111;
padding:20px;

}
